<div ng-controller="aboutCtrl">
  <h3>What is this app about?</h3>
  <div>
    This is a simple page Angular app with a navigation through tabs which simulates a registration.

    <div>
      At this stage you can start the process.
    </div>
    <div>
      In the next tab you can fill in some data in a form and test for certain attributes
    </div>
    <div>
    The confirmation tab will shoe you all the fields you have filled in for a last confirmation
    </div>

    <div>
      The last tab is a simple "All is done" and it will automatically reset the data.
      In a perfect world it would have sent the data to a backend server...
    </div>

    <div>
      <a href="#/register" type="button" class="btn btn-primary pull-right">Go to Registration...</a>
    </div>
  </div>
</div>
